html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline; }

html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {
  -webkit-text-size-adjust: none; }

html, body {
  width: 100%;
  height: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  font-family: arial, sans-serif; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

ins, a {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: inline-block; }

input, textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0); }

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px; }

.wraper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column; }

.logo {
  width: 90%;
  height: auto;
  margin: 0.8rem auto 0.26667rem;
  text-align: center;
  font-size: 0.48rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .logo .img-logo {
    width: 1.28rem;
    height: 1.28rem;
    display: block;
    background-image: -webkit-image-set(url(https://account.xiaomi.com/static/res/11eb7d1/account-static/respassport/acc-2014/img/2018/milogo.png) 1x, url(https://account.xiaomi.com/static/res/11eb7d1/account-static/respassport/acc-2014/img/2018/milogo@2x.png) 2x);
    background-size: 100%;
    margin-bottom: 0.26667rem; }

.inp {
  width: 90%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }
  .inp input {
    flex: 1;
    padding: 0.42667rem 0;
    font-size: 0.48rem;
    border-bottom: solid 0.02667rem #4a4a4a; }
  .inp input#pass {
    border: none; }
  .inp .pass {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 0.02667rem #4a4a4a; }
    .inp .pass .eye {
      width: 0.53333rem;
      height: 0.42667rem;
      background: #4d4d4d; }
    .inp .pass .eye-open {
      background: #ff6700; }
  .inp .mes {
    width: 100%;
    height: auto;
    color: #F66;
    font-size: 0.37333rem;
    text-align: center;
    margin-top: 0.26667rem;
    display: none; }
  .inp input[type="button"] {
    width: 100%;
    padding: 0.26667rem 0;
    margin-top: 0.64rem;
    border: none;
    border-radius: 0.16rem;
    cursor: pointer; }
  .inp .log-btn {
    background-color: #ff6700;
    color: #fff; }
  .inp input.register-btn {
    border: 0.02667rem solid #d3d3d3; }

.reg-for {
  width: 90%;
  height: auto;
  margin: 0.37333rem auto 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .reg-for a {
    font-size: 0.42667rem;
    color: #646464;
    padding: 0 0.24rem; }

.log-else {
  width: 90%;
  height: auto;
  margin: 1.06667rem auto 0; }
  .log-else h2 {
    font-size: 0.32rem;
    color: #b0b0b0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0.26667rem 0.53333rem;
    text-align: center; }
  .log-else h2:before, .log-else h2:after {
    content: '';
    width: 30%;
    height: 0.02667rem;
    background: #b0b0b0; }
  .log-else .log-else-img {
    width: 33.3%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    .log-else .log-else-img span {
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 50%; }
      .log-else .log-else-img span:nth-child(1) {
        background: #72c7db; }
      .log-else .log-else-img span:nth-child(2) {
        background: #ed9090; }
      .log-else .log-else-img span:nth-child(3) {
        background: #6bb6ea; }

.language {
  width: 90%;
  height: auto;
  margin: 0.53333rem auto 0;
  display: flex;
  justify-content: space-between; }
  .language a {
    font-size: 0.37333rem;
    color: #9b9b9b; }
