@import './tpl/_common.scss';
@import './tpl/_header.scss';
@import "tpl/_book-tag.scss";
section {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    &>div {
        width: 100%;
        height: 100%;
        .book-detail {
            padding: pxTorem(30px) pxTorem(30px);
            dl {
                width: 100%;
                display: flex;
                .book-cover {
                    width: pxTorem(93px);
                    height: pxTorem(124px);
                    margin-right: pxTorem(40px);
                    img {
                        width: 100%;
                        height: 100%;
                        display: block;
                    }
                }
                .book-info {
                    .title {
                        margin-bottom: pxTorem(13px);
                        font-size: pxTorem(16px);
                        color: #666;
                    }
                    .author {
                        color: $blue-color;
                        font-size: pxTorem(12px);
                        line-height: pxTorem(18px);
                    }
                    .grade {
                        margin: pxTorem(3px) 0 pxTorem(6px);
                        .read {
                            font-size: pxTorem(12px);
                            color: #8d8d8d;
                        }
                    }
                    .price {
                        font-size: pxTorem(12px);
                        line-height: pxTorem(20px);
                        color: #727272;
                    }
                    .count {
                        font-size: pxTorem(12px);
                        color: #6e6e6e;
                        display: flex;
                        align-items: center;
                        margin-top: pxTorem(5px);
                        .serial {
                            color: $green-color;
                            border: pxTorem(1px) solid $green-color;
                            font-size: pxTorem(11px);
                            border-radius: pxTorem(4px);
                            padding: 0 pxTorem(3px);
                            margin-left: pxTorem(5px);
                        }
                    }
                }
            }
        }
        .book-brief {
            &>p {
                width: 100%;
                height: pxTorem(40px);
                @include sizing;
                padding: 0 pxTorem(14px);
                display: flex;
                justify-content: space-between;
                margin-bottom: pxTorem(27px);
                span {
                    width: 48.5%;
                    height: 100%;
                    line-height: pxTorem(40px);
                    text-align: center;
                    font-size: pxTorem(14px);
                    border-radius: pxTorem(4px);
                }
                .book-read {
                    background: $btn-orange-bg;
                    border: pxTorem(1px) solid $btn-orange-border;
                    color: $write-color;
                    a {
                        color: $write-color;
                    }
                }
                .book-down {
                    border: pxTorem(1px) solid $border-color;
                    background: $write-color;
                }
            }
            .book-cont {
                border-bottom: pxTorem(10px) solid $group-btm-bg;
                .book-text {
                    padding: 0 pxTorem(14px);
                    font-size: pxTorem(14px);
                    @include line(5);
                    line-height: pxTorem(22px);
                    margin-bottom: pxTorem(10px);
                }
                .book-tail {
                    text-align: center;
                    font-size: pxTorem(14px);
                    border-top: pxTorem(1px) solid $line-border;
                    padding: pxTorem(10px) pxTorem(14px);
                    a {
                        color: $gray-color;
                    }
                }
            }
            .book-card {
                border-bottom: pxTorem(10px) solid $group-btm-bg;
                &>div {
                    width: 100%;
                    h3 {
                        font-size: pxTorem(16px);
                        color: #8d8d8d;
                        padding: pxTorem(14px);
                    }
                }
            }
            .book-tag {
                padding: 0 pxTorem(14px);
            }
            .book-other {
                width: 100%;
                border-bottom: pxTorem(10px) solid $group-btm-bg;
                .book-table {
                    padding-bottom: pxTorem(5px);
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    &>li {
                        width: 31%;
                        flex-wrap: wrap;
                        vertical-align: top;
                        display: flex;
                        flex-direction: column;
                        margin-bottom: pxTorem(5px);
                        img {
                            display: block;
                            width: pxTorem(86px);
                            height: pxTorem(113px);
                            margin: 0 auto;
                        }
                        p {
                            width: pxTorem(86px);
                            font-size: pxTorem(13px);
                            color: #8d8d8d;
                            padding-top: pxTorem(5px);
                            line-height: pxTorem(18px);
                            margin: 0 auto;
                        }
                    }
                }
            }
            .book-title {
                padding: pxTorem(15px) pxTorem(14px) pxTorem(8px);
                h3 {
                    font-size: pxTorem(15px);
                    color: #8d8d8d;
                }
            }
            .book-copy {
                width: 100%;
                .text {
                    padding: 0 pxTorem(14px);
                    font-size: pxTorem(14px);
                    color: #8d8d8d;
                    margin-bottom: pxTorem(12px);
                }
            }
        }
    }
}