@import './tpl/_common.scss';
@import './tpl/_header.scss';
.book-chapter {
    width: 100%;
    height: 100%;
    overflow: hidden;
    ul {
        width: 100%;
        li {
            line-height: pxTorem(44px);
            padding: 0 pxTorem(14px);
            border-bottom: pxTorem(1px) solid #eee;
            font-size: pxTorem(14px);
            color: $gray-color;
            &:last-child {
                color: $btn-orange-bg;
            }
            &.active {
                color: $btn-orange-bg;
            }
        }
    }
}