@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline;
}

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: arial, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

ins,
a {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: inline-block;
}

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
}

/*字体大小*/
/*灰色字体颜色*/
/*白色字体*/
/*黑色字体*/
/*按钮灰色边框*/
/*蓝色边框颜色*/
/*蓝色字体颜色*/
/*group 底部边框颜色*/
/*header背景*/
/*搜索框border颜色*/
/*banner buttle*/
/*orange line颜色*/
/*line bottom颜色*/
/* 书背景*/
/* 书边框颜色 */
/*书的阴影*/
/*绿色标签颜色*/
/*限免tag背景*/
/*按钮背景颜色*/
/*按钮border颜色*/
/*标签背景*/
/*标签背景色*/
/*详情界面*/
/* 阅读界面 */
/*阅读界面标题*/
/*超过几行显示省略号*/
/*背景*/
/* 滚动 */
/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: #555;
}

.wrap .content {
  width: 100%;
  flex: 1;
  overflow: hidden;
}

.wrap .content .block {
  width: 100%;
  height: auto;
  border-bottom: 0.26667rem solid #f5f5f5;
}

.wrap .content a {
  color: #333;
}

.wrap .content img {
  display: block;
}

.none {
  display: none;
}

/*字体大小*/
/*灰色字体颜色*/
/*白色字体*/
/*黑色字体*/
/*按钮灰色边框*/
/*蓝色边框颜色*/
/*蓝色字体颜色*/
/*group 底部边框颜色*/
/*header背景*/
/*搜索框border颜色*/
/*banner buttle*/
/*orange line颜色*/
/*line bottom颜色*/
/* 书背景*/
/* 书边框颜色 */
/*书的阴影*/
/*绿色标签颜色*/
/*限免tag背景*/
/*按钮背景颜色*/
/*按钮border颜色*/
/*标签背景*/
/*标签背景色*/
/*详情界面*/
/* 阅读界面 */
/*阅读界面标题*/
/*超过几行显示省略号*/
/*背景*/
/* 滚动 */
/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px;
}

header {
  width: 100%;
  height: 1.17333rem;
  background-color: #efeff0;
  border-bottom: 1px solid #ddd;
  line-height: 1.17333rem;
  position: relative;
  display: flex;
  align-items: center;
}

header .icon-sign {
  width: 1.17333rem;
  height: 1.17333rem;
  background: url("../imgs/icon-sign.png") no-repeat center center;
  background-size: 0.58667rem;
  position: absolute;
  top: 0;
  left: 0;
}

header .icon-my {
  width: 1.17333rem;
  height: 1.17333rem;
  background: url("../imgs/icon-person.png") no-repeat center center;
  background-size: 0.42667rem;
  position: absolute;
  top: 0;
  right: 0;
}

header .switch-tap {
  width: 5.06667rem;
  height: 1.17333rem;
  margin: 0 auto;
  position: relative;
  display: flex;
}

header .switch-tap span {
  flex: 1;
  text-align: center;
  font-size: 0.37333rem;
}

header .switch-tap span.active {
  color: #ff6600;
}

header .switch-tap .line {
  width: 2.53333rem;
  position: absolute;
  bottom: -1px;
  left: 0;
  transition: transform .3s;
}

header .switch-tap .line:before {
  content: "";
  display: block;
  width: 0.90667rem;
  height: 0.05333rem;
  margin: 0 auto;
  background-color: #777;
}

header .switch-tap .line.move {
  transform: translateX(2.53333rem);
}

header .icon-back {
  width: 1.17333rem;
  height: 1.17333rem;
  background: url("../imgs/icon-back.png") no-repeat center center;
  background-size: 0.58667rem;
  position: absolute;
  left: 0;
}

header .search-input {
  margin: 0.13333rem 0.53333rem 0.13333rem 1.17333rem;
  background-color: #fff;
  height: 0.90667rem;
  display: flex;
  align-items: center;
  flex: 1;
}

header .search-input .icon-search {
  width: 0.96rem;
  height: 0.90667rem;
  background: url("../imgs/icon-search.png") no-repeat center center;
  background-size: 0.42667rem;
  border-right: 1px solid #ddd;
  display: flex;
  align-items: center;
}

header .search-input .inp {
  flex: 1;
  height: 100%;
  padding: 0 0.26667rem;
  font-size: 0.37333rem;
}

header .search-input .search-btn {
  width: 1.17333rem;
  height: 0.90667rem;
  text-align: center;
  line-height: 0.90667rem;
  background-size: 0.42667rem;
  border-left: 1px solid #ddd;
  font-size: 0.37333rem;
  color: #555;
}

header .icon-homes {
  width: 1.17333rem;
  height: 1.17333rem;
  background: url("../imgs/icon-home.png") no-repeat center center;
  background-size: 0.42667rem;
  position: absolute;
  top: 0;
  right: 0;
}

header .title {
  position: absolute;
  left: 1.17333rem;
  line-height: 1.17333rem;
  font-size: 0.37333rem;
  color: #555;
}

.read-hml {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background: #fff;
}

.read-hml .read-head {
  padding: 0 0.37333rem;
  padding-top: 0.4rem;
}

.read-hml .read-head h3 {
  width: 100%;
  font-size: 0.53333rem;
  font-weight: bold;
  color: #736357;
  border-bottom: 0.02667rem solid #736357;
  margin-bottom: 0.53333rem;
}

.read-hml .read-content {
  padding: 0 0.37333rem;
}

.read-hml .read-content p {
  text-indent: 2em;
  font-size: 0.37333rem;
  margin: 0.21333rem 0;
  color: #4e534f;
  text-align: justify;
  line-height: 1.5;
}

.mask {
  width: 100%;
  height: 100%;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.set-t {
  width: 100%;
  height: 1.33333rem;
  line-height: 1.33333rem;
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.set-t .back {
  font-size: 0.37333rem;
  color: #d5d5d6;
  margin-left: 1.06667rem;
}

.set-t .icon-circle-back {
  width: 1.06667rem;
  height: 1.33333rem;
  background: url("../imgs/icon-circle-back.png") no-repeat center center;
  background-size: 0.58667rem;
  position: absolute;
  top: 0;
  left: 0;
}

.set-t .icon-more {
  width: 1.06667rem;
  height: 1.33333rem;
  background: url("../imgs/icon-more.png") no-repeat center center;
  background-size: 0.66667rem;
  position: absolute;
  top: 0;
  right: 0.53333rem;
}

.set-b {
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.set-b .chapter-btn {
  width: 100%;
  height: 1.28rem;
  line-height: 1.28rem;
  display: flex;
  border-bottom: 0.02667rem solid #333;
}

.set-b .chapter-btn span {
  text-align: center;
  font-size: 0.34667rem;
  color: #fff;
}

.set-b .chapter-btn .prev-btn,
.set-b .chapter-btn .next-btn {
  width: 25%;
}

.set-b .chapter-btn .tag {
  width: 50%;
}

.set-b .style-btns {
  width: 100%;
  height: 1.86667rem;
  display: flex;
  align-items: center;
}

.set-b .style-btns dl {
  flex: 1;
  color: #fff;
  font-size: 0.32rem;
}

.set-b .style-btns dl dt {
  width: 0.8rem;
  height: 0.8rem;
  background: url("../imgs/icon-chapter.png") no-repeat center center;
  background-size: 0.58667rem;
  margin: 0 auto;
}

.set-b .style-btns dl dt.font {
  background: url("../imgs/icon-font.png") no-repeat center center;
  background-size: 0.53333rem;
}

.set-b .style-btns dl dt.font.active {
  background: url("../imgs/icon-font-active.png") no-repeat center center;
  background-size: 0.53333rem;
}

.set-b .style-btns dl dt.night {
  background: url("../imgs/icon-night.png") no-repeat center center;
  background-size: 0.58667rem;
}

.set-b .style-btns dl dt.night.day {
  background: url("../imgs/icon-light.png") no-repeat center center;
}

.set-b .style-btns dl dt.down {
  background: url("../imgs/icon-down.png") no-repeat center center;
  background-size: 0.58667rem;
}

.set-b .style-btns dl dd {
  text-align: center;
}

.set-panel {
  width: 100%;
  height: 3.6rem;
  position: absolute;
  bottom: 1.86667rem;
  left: 0;
  z-index: 4;
  background: rgba(0, 0, 0, 0.9);
}

.set-panel > div {
  margin-top: 0.4rem;
  padding: 0.13333rem 0.26667rem;
  display: flex;
  align-items: center;
}

.set-panel > div span {
  margin-right: 0.53333rem;
  margin-left: 0.26667rem;
  font-size: 0.37333rem;
  color: #fff;
}

.set-panel .font-btns button {
  margin: 0 0.13333rem;
  border: none;
  border: 0.02667rem solid #8c8c8c;
  border-radius: 0.4rem;
  padding: 0.13333rem 1.17333rem;
  font-size: 0.34667rem;
  background: none;
  color: #fff;
  outline: none;
}

.set-panel .bg-btns ul {
  display: flex;
}

.set-panel .bg-btns ul li {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background: #f7eee5;
  margin-left: 0.26667rem;
  position: relative;
}

.set-panel .bg-btns ul li:nth-child(2) {
  background: #e9dfc7;
}

.set-panel .bg-btns ul li:nth-child(3) {
  background: #a4a4a4;
}

.set-panel .bg-btns ul li:nth-child(4) {
  background: #cdefce;
}

.set-panel .bg-btns ul li:nth-child(5) {
  background: #283548;
}

.set-panel .bg-btns ul li:nth-child(6) {
  background: #0f1410;
}

.set-panel .bg-btns ul li.active:after {
  content: '';
  width: 0.85333rem;
  height: 0.85333rem;
  position: absolute;
  left: -0.05333rem;
  top: -0.05333rem;
  border: 0.02667rem solid #e35109;
  border-radius: 50%;
}
