@import "tpl/_common.scss";
@import "tpl/_header.scss";
@import "tpl/_book-z-list.scss";
.wrap-swiper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    .swiper-slide {
        width: 100%;
        height: 100%;
        overflow: hidden;
        &>div {
            &:before {
                content: attr(down);
                width: 100%;
                height: pxTorem(44px);
                display: block;
                line-height: pxTorem(44px);
                text-align: center;
                position: absolute;
                top: -(pxTorem(44px));
                left: 0;
            }
            &:after {
                content: attr(up);
                width: 100%;
                height: pxTorem(44px);
                display: block;
                line-height: pxTorem(44px);
                text-align: center;
                position: absolute;
                bottom: -(pxTorem(44px));
                left: 0;
            }
        }
        .top {
            margin: pxTorem(10px) pxTorem(13px) 0;
            display: flex;
            .top-search {
                flex: 1;
                display: flex;
                align-items: center;
                border: pxTorem(1px)solid $group-btm-bg;
                border-radius: pxTorem(5px);
                .icon-search {
                    width: pxTorem(36px);
                    height: pxTorem(34px);
                    @include bg("../imgs/icon-search.png");
                    background-size: pxTorem(14px);
                    display: flex;
                    align-items: center;
                }
                &>div {
                    color: rgba(0, 0, 0, 0.4);
                    font-size: pxTorem(12px);
                }
            }
            .icon-switch {
                display: block;
                width: pxTorem(36px);
                height: pxTorem(34px);
                @include bg("../imgs/icon-switch.png");
                background-size: pxTorem(16px);
                border: pxTorem(1px) solid $group-btm-bg;
                display: flex;
                align-items: center;
                margin-left: pxTorem(10px);
                border-radius: pxTorem(5px);
            }
            .switch-icon-btn {
                display: block;
                width: pxTorem(36px);
                height: pxTorem(34px);
                @include bg("../imgs/icon-swicth-list.png");
                background-size: pxTorem(16px);
                border: pxTorem(1px) solid $group-btm-bg;
                display: flex;
                align-items: center;
                margin-left: pxTorem(10px);
                border-radius: pxTorem(5px);
            }
        }
        .banner {
            position: relative;
            margin-top: pxTorem(10px);
            img {
                width: 100%;
                display: block;
            }
            span {
                width: pxTorem(15px);
                height: pxTorem(2px);
                border-radius: 0;
            }
            .swiper-pagination {
                position: absolute;
                width: pxTorem(50px);
                right: 0;
            }
            .swiper-pagination-bullet-active {
                background-color: $buttle-active-bg;
            }
        }
        .top-home_btn {
            margin: pxTorem(14px) 0 pxTorem(4px) 0;
            display: flex;
            li {
                flex: 1;
                text-align: center;
                img {
                    width: pxTorem(22px);
                    height: pxTorem(22px);
                    background-size: pxTorem(22px);
                    margin: 0 auto;
                }
                p {
                    font-size: pxTorem(12px);
                    line-height: pxTorem(24px);
                }
            }
        }
        .week-main_header {
            position: relative;
            padding: pxTorem(10px) pxTorem(14px);
            border-bottom: pxTorem(1px) solid $line-border;
            border-left: pxTorem(6px) solid $line-orange;
            h3 {
                font-size: pxTorem(16px);
                color: $black-color;
            }
        }
        .book-table {
            padding: pxTorem(13px) 0 pxTorem(5px);
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            &>li {
                width: 31%;
                flex-wrap: wrap;
                vertical-align: top;
                display: flex;
                flex-direction: column;
                margin-bottom: pxTorem(5px);
                img {
                    display: block;
                    width: pxTorem(86px);
                    height: pxTorem(113px);
                    margin: 0 auto;
                }
                p {
                    width: pxTorem(86px);
                    font-size: pxTorem(13px);
                    color: #8d8d8d;
                    padding-top: pxTorem(5px);
                    line-height: pxTorem(18px);
                    margin: 0 auto;
                }
            }
        }
        .week-main_footer {
            width: 100%;
            display: block;
            text-align: center;
            font-size: pxTorem(14px);
            padding: pxTorem(10px) 0;
            border-top: pxTorem(1px) solid $line-border;
        }
        .heavy-main_header {
            padding: pxTorem(15px) pxTorem(13px);
            display: flex;
            justify-content: space-between;
            position: relative;
            border-bottom: pxTorem(1px) solid $line-border;
            p {
                font-size: pxTorem(13px);
                font-weight: bold;
                color: $black-color;
                align-items: center;
                i {
                    position: absolute;
                    color: $write-color;
                    background: $green-color;
                    padding: 0 pxTorem(5px);
                    font-size: pxTorem(12px);
                    margin: -(pxTorem(2px)) 0 0 pxTorem(5px);
                }
            }
            .tap {
                a:first-child {
                    border-right: pxTorem(1px) solid $default-buttle-bg;
                    padding-right: pxTorem(5px);
                    color: $blue-color;
                }
                a {
                    padding-left: pxTorem(3px);
                }
            }
        }
        .book-list {
            display: flex;
            align-items: center;
            .book-list_order {
                font-size: pxTorem(13px);
                color: $btn-orange-bg;
                margin-right: pxTorem(10px);
            }
            .book-list_title {
                font-size: pxTorem(15px);
                color: rgba(0, 0, 0, 0.9);
                display: flex;
                align-items: center;
                .book-list_autor {
                    margin-left: pxTorem(13px);
                    font-size: pxTorem(12px);
                    color: rgba(0, 0, 0, 0.4);
                }
            }
        }
        .book-main_footer {
            width: 100%;
            border-top: pxTorem(1px) solid $line-border;
            display: flex;
            a {
                width: 50%;
                padding: pxTorem(14px) 0;
                font-size: pxTorem(13px);
                color: rgba(0, 0, 0, 0.9);
                text-align: center;
                &:first-child {
                    border-right: pxTorem(1px) solid $line-border;
                }
            }
        }
        .fave-main_header {
            padding: pxTorem(15px) pxTorem(13px);
            position: relative;
            border-bottom: pxTorem(1px) solid $line-border;
            h3 {
                font-size: pxTorem(13px);
                color: rgba(0, 0, 0, 0.9);
            }
        }
        .banner-list {
            padding: pxTorem(13px);
            display: flex;
            justify-content: space-between;
            li {
                width: 50%;
                box-sizing: border-box;
                padding: 0 pxTorem(3px);
                img {
                    width: 100%;
                    display: block;
                }
            }
        }
        .book-frame {
            display: flex;
            flex-direction: column;
            dl {
                width: 100%;
                height: auto;
                padding: pxTorem(13px) pxTorem(20px);
                border-bottom: pxTorem(1px) solid $line-border;
                a {
                    display: flex;
                    dd {
                        width: pxTorem(85px);
                        height: pxTorem(113px);
                        margin-right: pxTorem(10px);
                        background-color: #eeece9;
                        img {
                            width: 100%;
                            height: 100%;
                            display: block;
                        }
                    }
                    dt {
                        flex: 1;
                        margin-top: pxTorem(10px);
                        p {
                            width: 90%;
                            line-height: pxTorem(22px);
                        }
                        .title {
                            font-size: pxTorem(16px);
                            font-weight: 400;
                            color: #000;
                        }
                        .autor {
                            font-size: pxTorem(12px);
                            color: #666;
                        }
                        .extra {
                            font-size: pxTorem(12px);
                            color: #8d8d8d;
                        }
                    }
                }
                &:last-child {
                    border-bottom: none;
                }
            }
            &.list-frame {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                padding: pxTorem(13px) 0;
                dl {
                    width: 33.3%;
                    height: auto;
                    border: none;
                    padding: 0;
                    margin-bottom: pxTorem(15px);
                    a {
                        display: flex;
                        flex-direction: column;
                        dd {
                            width: pxTorem(90px);
                            height: pxTorem(120px);
                            background-color: #eeece9;
                            margin: 0 auto;
                            img {
                                width: 100%;
                                height: 100%;
                                display: block;
                            }
                        }
                        dt {
                            width: pxTorem(90px);
                            margin: 0 auto;
                            margin-top: pxTorem(5px);
                            text-align: left;
                            p {
                                line-height: pxTorem(18px);
                            }
                            .title {
                                font-size: pxTorem(12px);
                                font-weight: 400;
                                color: #666;
                            }
                            .autor,
                            .extra {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .frame-scroll {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
    }
}