@import "tpl/_common.scss";
@import "tpl/_header.scss";
@import "tpl/_book-tag.scss";
section {
    flex: 1;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    .result {
        &>p {
            text-align: center;
            padding-top: pxTorem(10px);
            font-size: pxTorem(14px);
        }
    }
    .book-list {
        width: 100%;
        height: auto;
        &>div {
            dl {
                padding: pxTorem(13px) pxTorem(14px);
                border-bottom: pxTorem(1px) solid $line-border;
                a {
                    display: flex;
                    color: $black-color;
                    .book-cover {
                        flex-shrink: 0;
                        width: pxTorem(86px);
                        height: pxTorem(114px);
                        background-color: $book-bg;
                        margin-right: pxTorem(10px);
                        overflow: hidden;
                        img {
                            width: 100%;
                            height: 100%;
                            display: block;
                        }
                    }
                    .book-into {
                        flex: 1;
                        margin-top: pxTorem(10px);
                        .title {
                            font-size: pxTorem(16px);
                            font-weight: 400;
                        }
                        .summary {
                            margin: pxTorem(12px) 0 pxTorem(4px);
                            @include line(2);
                        }
                        .author {
                            color: #666;
                            font-size: pxTorem(12px);
                        }
                    }
                }
                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
}