.book-bd {
    padding: 0 pxTorem(13px);
    .book-list {
        padding: pxTorem(17px) 0;
        border-bottom: pxTorem(1px) solid $line-border;
        .book-introduce {
            width: 100%;
            height: auto;
            a {
                display: flex;
                align-items: center;
                dd {
                    flex-shrink: 0;
                    width: pxTorem(85px);
                    height: pxTorem(113px);
                    background-color: $book-bg;
                    border: pxTorem(1px) solid $line-border;
                    overflow: hidden;
                    margin-right: pxTorem(10px);
                    position: relative;
                    img {
                        width: 100%;
                        height: 100%;
                        display: block;
                    }
                    span {
                        color: #fff;
                        position: absolute;
                        bottom: 0;
                        left: pxTorem(5px);
                        font-size: pxTorem(14px);
                    }
                }
                dt {
                    flex: 1;
                    width: 70%;
                    .book-title {
                        margin-bottom: pxTorem(4px);
                        font-size: pxTorem(16px);
                        color: #000;
                    }
                    .book-autor {
                        margin-top: pxTorem(5px);
                        display: flex;
                        align-items: center;
                        color: $black-color;
                        .autor {
                            font-size: pxTorem(12px);
                        }
                    }
                    .book-summary {
                        font-size: pxTorem(13px);
                        @include line(2);
                        margin-top: pxTorem(8px);
                    }
                    .book-label {
                        margin-top: pxTorem(10px);
                        display: flex;
                        overflow: hidden;
                        .book-tag {
                            flex-shrink: 0;
                            font-size: pxTorem(10px);
                            color: $green-color;
                            border: pxTorem(1px) solid $green-color;
                            margin-right: pxTorem(7px);
                            border-radius: pxTorem(3px);
                            padding: pxTorem(3px) pxTorem(6px);
                            @include one-line;
                        }
                    }
                }
            }
        }
        &:last-child {
            border-bottom: none;
        }
    }
}