.book-tag {
    padding: pxTorem(17px);
    .tag {
        padding: 0 pxTorem(20px);
        border-radius: pxTorem(4px);
        font-size: pxTorem(14px);
        border: pxTorem(1px) solid #ccc;
        margin: 0 pxTorem(10px) pxTorem(10px) 0;
        color: #766d5d;
        display: inline-block;
        line-height: pxTorem(25px);
        &:nth-child(3n+1) {
            background-color: $tag-bg1;
        }
        &:nth-child(3n+2) {
            background-color: $tag-bg2;
        }
        &:nth-child(3n+3) {
            background-color: $tag-bg3;
        }
    }
}